<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Список новостей
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Новости</h1>
    {% if posts %}
    <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

            {%for post in posts reversed%}
                <tr>
                    <td>{{post.heading|censor}}</td>
                    <td>{{post.creation_date|date:'d M Y'}}</td>
                    <td>{{post.content|truncatechars:20|censor}}</td>

                </tr>
            {% endfor %}
    </table>
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}