<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% if posts %}
    <table>

        {% for post in posts %}
            <tr>
                <td><a href= 'http://127.0.0.1:8000/news/{{post.id}}'> {{post.heading}}</a></td>
                <td>{{post.content|truncatechars:40}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}

</body>
</html>